* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header {
    color: #FFFFFF;
    text-align: right;
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 1500px;
    height: 700px;  
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    padding-top: 200px;
    padding-left: 750px;
    padding-right: 150px; 
    margin-bottom: 20px;
}

.header-title-description {
    font-weight: 400;
    font-size: 16px;
    padding-left: 860px;
    padding-right: 150px;
    margin-bottom: 20px;   
}

.header-btn {
    width: 150px;
    height: 55px;
    border-radius: 5px;
    border-color: white;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px; 
    margin-right: 150px; 
}